body {
  font-family: Arial, sans-serif;
  color: #663300;
  text-align: center;
  padding: 20px;
  justify-content: center;
}

img {
  width: 100%; /* Ensure responsiveness */
  max-width: 400px; /* Set max width for the image */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 40px;
}
