/* buttons.css */
.button {
    display: inline-block;
    padding: 10px 15px;
    width: 110px;
    font-size: 16px;
    text-align: center;
    color: #ffd699;
    background-color: #cc6600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap;
  }
  
  .button:hover {
    background-color: #663300;
  }
  
 /* Tablets and small laptops */
@media (max-width: 1024px) {
  .button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

/* Small tablets and large phones */
@media (max-width: 768px) {
  .button-container {
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons vertically */
  }
  
  .button {
    font-size: 14px; /* Slightly smaller font size */
    padding: 8px 16px; /* Adjusted padding */
    width: auto; /* Keep the button size based on content */
  }
}

/* Small phones */
@media (max-width: 480px) {
  .button-container {
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  
  .button {
    font-size: 14px; /* Slightly smaller font size */
    padding: 8px 16px; /* Keep padding consistent with other sizes */
    width: 100%; /* Full width for small screens */
    max-width: 250px; /* Set a max-width to keep buttons manageable */
  }
}
  