@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../components/footer/footer.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: #ffd699;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 30, 30;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  color: #e8964d; 
  text-align: left;
  font-size: 42px;
  letter-spacing: 0.5em;
}

.title span {
  color: #663300; 
}

.main-container {
  flex: 1;
}
